
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build*
debug_build
release_build
/bin
/lib
/install
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo

# IDE project files
*.sublime-project
*.sublime-workspace
/.idea/

# python
*.pyc
